*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.title {
  width: 100%;
  height: 100%;
  margin-bottom: 26px;
}

.result {
  max-width: 711px;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  max-height: 386px;
  max-width: 711px;
  width: 100%;
  object-fit: cover;
}

.content__list {
  overflow: hidden;
  height: 298px;
  width: 399px;
  position: relative;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  width: 0px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.content__list:hover:-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.content__list::-webkit-scrollbar-track {
  background: none;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link_current > .content__video-card {
  background: linear-gradient(to right, #545050 392px, transparent 0%);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px 2px 2px;
  max-width: 394px;
  width: 100%;
}

.content__video-card-thumbnail {
  max-height: 103px;
  max-width: 194px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  margin-bottom: 7.5px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  color: #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 70.5px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  gap: 5px;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(input[type="checkbox"]:focus-visible) {
  border: 1px solid #fff;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

.search-form__label .search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  position: relative;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  display: none;
  content: "";
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: white;
}

.search-form__label .search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.button {
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 399px;
  height: 34px;
}

.search-form__pseudo-checkbox:checked {
  background: red;
}

.content__video-card-description-container {
  color: #fff;
  font-style: normal;
  max-width: 200px;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card:hover {
  text-decoration: underline;
}
